Source: v4l2-p010-dkms
Section: contrib/kernel
Priority: optional
Maintainer: Nobody <nobody@nowhere.com>
Build-Depends: debhelper (>=11~), dh-sequence-dkms
Standards-Version: 4.6.2.1

Package: v4l2-p010-dkms
Architecture: any
Multi-Arch: foreign
Depends: dkms (>= 1.95), sed, build-essential, wget, tar, ${misc:Depends}
Description: DKMS support for P010 HDR10 video format
 This package provides integration with the DKMS infrastructure for automatically building out of tree kernel modules.
 .
 This package contains the source to be built with dkms.
